/* Reset Sheet */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}





@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  height: 100vh;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  font-family: "Roboto", serif;
}

#outerLayout {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  height: 100%;
}

#menu {
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#today {
  justify-items: end;
  display: grid;
}

  #today, #statistics {
  align-content: center;
}

#todayText {
  width: 165px;
  font-size: 1.55rem;
  height: 80px;
  border-radius: 20px;
  margin-right: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #f8f9fa;
  font-weight: 700;
  cursor: pointer;
}



#todayText:hover {
  background-color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #f8f9fa;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#statisticsText:hover {
  background-color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #f8f9fa;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#statistics {
  justify-items: start;
  display: grid;
}
#statisticsText {
  width: 165px;
  font-size: 1.55rem;
  height: 80px;
  border-radius: 20px;
  margin-left: 2rem;
  background-color: #f8f9fa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtiler */
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

#mainAreaToday {
  grid-row: 2/3;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtiler */
  width: 700px;
  border-radius: 45px;
  background-color: #f8f9fa;
  justify-self: center;
  display: grid;
  grid-template-rows: 0.3fr 0.2fr 0.8fr;
  transition: transform 0.5s ease;

}

#textContainerToday {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  background-color: #313350;
  color: white;
  font-weight: 700;
  border-top-right-radius: 250px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  
}

#textContainerToday p {
  font-size: 24px;
  transform: none;
}

#checkBoxes {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
  justify-items: center;
}

#one {
  grid-column: 2/3;
}

#two {
  grid-column: 3/4;
}

#three {
  grid-column: 4/5;
}
#four {
  grid-column: 5/6;
}

#five {
  grid-column: 6/7;
}

#six {
  grid-column: 7/8;
}
#seven {
  grid-column: 8/9;
}

#eight {
  grid-column: 9/10;
}

#nine {
  grid-column: 10/11;
}

#ten {
  grid-column: 11/12;
}

input[type="checkbox"] {
  transform: scale(2.75); /* Vergrößert die Checkbox */
}

#checkBoxes {
  position: relative;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.8),
    rgba(255, 255, 0, 0.8),
    rgba(0, 128, 0, 0.8)
  ); /* Farben mit Transparenz */
  padding: 30px; /* Abstand innerhalb des Formulars */
  border-radius: 40px; /* Abgerundete Ecken */
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 8rem;
}

#btnContainer {
  display: grid;
}

#submitBtn {
  margin-top: 3rem;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  place-self: center;
  border: none;
  background-color: #2ec241;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtiler */
  cursor: pointer;
  padding: 10px 20px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

#sad {
  position: absolute;
  height: 35px;
  left: 43px;
  bottom: 96px;
  opacity: 0; /* Start mit unsichtbarem Zustand */
  animation: fadeIn 2s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s forwards; /* 1s Verzögerung und beschleunigte Animation */
}

#happy {
  position: absolute;
  height: 35px;
  right: 43px;
  bottom: 96px;
  opacity: 0; /* Start mit unsichtbarem Zustand */
  animation: fadeIn 2s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s forwards; /* 1s Verzögerung und beschleunigte Animation */
}

#submitBtn:hover {
  background-color: #1b8620; /* Intensiveres Grün beim Hovern */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Tieferer Schatten */
}

.fade-out {
  opacity: 0; /* Verblasst das Element */
  transition: all 0.5s ease-in-out;
}

#mainAreaStats {
  grid-row: 2/3;
  width: 700px;
  min-height: 468px;
  border-radius: 45px;
  background-color: #f8f9fa;
  justify-self: center;
  display: grid;
  grid-template-rows: 0.3fr 0.2fr 0.8fr;
  transform-origin: top;
  transform: scale(1.3, 1.3);
  transition: opacity 0.5s ease, transform 0.5s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtiler */
  grid-template-rows: 1fr 7fr 1fr;;
  display: grid;
  row-gap: 25px;

}




#textContainerStats {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/4;
  text-align: center;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  background-color: #313350;
  border-top-right-radius: 240px;
  border-top-left-radius: 240px;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 240px;
}

#textContainerStats p {
  font-size: 24px;
  align-self: center;
  color: white;
 
}

#arrowLeft {
  width: 40px;
  height: 40px;
  justify-self: right;
}

#arrowLeft:hover, #arrowRight:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

#arrowRight {
  width: 40px;
  height: 40px;
  justify-self: left;
}

#statisticsBorder {
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 1/4;
  height: 320px;

 
  justify-self: center;
  align-content: center;
}

#statisticField {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  align-content: center;
  
}

.statsField {
  height: 60px;
  width: 60px;
  margin: 1.5px;
  border: 0px solid rgb(83, 83, 83);
  border-radius: 8px;
  text-align: center;
  align-content: center;
  font-size: 8px;
  font-weight: 700;
}

.bg-farbe-1 { background-color: #8B0000; }
.bg-farbe-2 { background-color: #B22222; }
.bg-farbe-3 { background-color: #DC143C; }
.bg-farbe-4 { background-color: #FF7F50; }
.bg-farbe-5 { background-color: #FFA500; }
.bg-farbe-6 { background-color: #FFFF00; }
.bg-farbe-7 { background-color: #d9ff2f; }
.bg-farbe-8 { background-color: #ADFF2F; }
.bg-farbe-9 { background-color: #32CD32; }
.bg-farbe-10 { background-color: #228B22; }


@media (max-width: 940px) {


#todayText {
  width: 165px;
  font-size: 1.55rem;
  height: 80px;
}

#statisticsText {
  width: 165px;
  font-size: 1.55rem;
  height: 80px;
}


  #mainAreaStats {
  width: 70vw;
}

  #mainAreaToday {
  width: 80vw;
}

#textContainerStats p {
  font-size: 20px;
}
}

@media (max-width: 790px) {

  .statsField {
    height: 50px;
    width: 50px;
  }

  #checkBoxes {
    padding: 16px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

 input[type="checkbox"] {
  transform: scale(2.2);
 }

 #sad {
  position: absolute;
  height: 30px;
  left: 23px;
  bottom: 65px;
}

#happy {
  position: absolute;
  height: 30px;
  right: 23px;
  bottom: 65px;
}

#textContainerToday p {
  font-size: 22px;
}

}

@media (max-width: 575px) {

#outerLayout {
  grid-template-rows: 0.3fr 1fr 0.5fr;
}


  #checkBoxes {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #mainAreaToday {

    width: 92vw;
  }

#todayText {
  width: 140px;
  font-size: 1.45rem;
  height: 70px;
}

#statisticsText {
  width: 140px;
  font-size: 1.45rem;
  height: 70px;
}


  .statsField {
    height: 39px;
    width: 39px;
  }

  #statisticField {
  padding: 20px;
}

#textContainerStats p {
  font-size: 19px;
}

#arrowRight, #arrowLeft {
  width: 30px;
  height: 30px;
}


}    

@media (max-width: 430px) {


    #checkBoxes {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .statsField {
    height: 33px;
    width: 33px;
  }
  #textContainerToday p {
  font-size: 18px;
}

#todayText {
  width: 130px;
  font-size: 1.25rem;
  height: 65px;
}

#statisticsText {
  width: 130px;
  font-size: 1.25rem;
  height: 65px;
}
      #checkBoxes {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

 input[type="checkbox"] {
  transform: scale(1.8);
 }
}    

@media (max-width: 370px) {

      #checkBoxes {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

   #textContainerToday p {
  font-size: 17px;
}
}     